@charset "utf-8";
body{

}
*{margin: 0;padding: 0;}
div{
    width: 100px;
    height: 100px;
    background: red;
    /* transition: all 1s ease-in-out; */
    -webkit-transition: all 1s ease-in-out 5s;
}
div:hover{
    width: 1000px;
}