@charset "utf-8";
body{
    background: #333;
    font-family: "맑은 고딕","malgun gothic";
}
*{margin: 0;padding: 0;}
div{
    width: 658px;
    height: 507px;
    border:  10px solid #fff;
    margin: 130px auto 0;
    position: relative;
    overflow: hidden;
}
div h2{
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    background: rgba(255,255,255,0.5);
    /* padding: 50px 0; */
    height: 150px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    line-height: 150px;
    /* margin-top: -75px; */
    transition: all 1s ease-in-out;
    
}
div:hover h2{
    bottom: 0;
}