@charset "utr-8";
body{
font-family: "맑은 고딕";
}
*{margin: 0;padding: 0;}
.b1{
    width: 450px;
    height: 70px;
    background: #00ccff;
    border: 1px solid #000;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    transform: rotate(-45deg);
    margin: 50px 0 0 -100px;
    /* transform: rotate(-90deg); */
}
.b2{
    width: 200px;
    height: 200px;
    background: #ccff00;
    border: 1px solid #000;
    margin: 400px 0 0 60px;
    font-size: 30px;
    text-align: center;
    line-height: 200px;
    /* transform: skew(15deg,15deg); */
    transform: skewX(15deg);
}
.b3{
    width: 200px;
    height: 200px;
    background: #ffcc00;
    border: 1px solid #000;
    font-size: 30px;
    text-align: center;
    line-height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
}
.b4{
    width: 100px;
    height: 100px;
    background: #000;
    
    text-align: center;
    color: #fff;
    line-height: 100px;
    border-radius:99px ;
    position: absolute;
    top: 250px;
    left: 350px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}
.b4:hover{
transform: scale(2) rotate(360deg);
}