@charset "utr-8";
body{

}
*{margin: 0;padding: 0;}
.box{
    width: 1000px;
    height: 300px;
    border: 4px solid red;
    margin: 0 auto;
}
.box div{
    width: 480px;
    height: 300px;
    background: pink;
    float: left;
    margin-right: 40px;
}
.box .rs{margin-right: 0;}
ul{
    width: 1000px;
    height: 300px;
    border: 4px solid #000;
    margin: 0 auto;
}
ul li{
    list-style: none;
    width: 320px;
    height: 300px;
    background: #58ffac;
    float: left;
    margin-right: 20px;

}
ul .rf{
    margin-right: 0;
}
.ff{width: 1000px;
    height: 300px;
    border: 4px solid rgb(111, 0, 255);
    margin: 0 auto;
}
.ff div{
    width: 320px;
    height: 300px;
    background: #a81570;
    float: left;
    margin-right: 20px;
}
.ff .dd{
    margin-right: 0;
}