@charset "utf-8";
body{

}
*{margin: 0;padding: 0;}
.wrap{
    width: 1000px;
    background: pink;
    margin: 0 auto;
}
.wrap .header{
    width: 1000px;
    height: 50px;
    background: lightblue;
}
.wrap .box{
    width: 1000px;
    height: 300px;
    background: gold;
}
.wrap .box div{
    width: 333.33px;
    height: 300px;
    background: rgb(109, 255, 165);
    float: left;
}
.wrap .box .two{
    background: #00d8ff;
}
.wrap .box .tres{
    background: #ffbb00;
}
.wrap .content{
    width: 1000px;
    height: 300px;
    background: yellow;
}
.wrap .footer{
    width: 1000px;
    height: 50px;
    background: #eeeeee;
}