@charset "utf-8";
body{

}
*{margin: 0;padding: 0;}
ul{
    width: 1000px;
    height: 300px;
    border: 2px solid #000000;
    margin: 0 auto;
}

ul li{
    list-style: none;
    width: 235px;
    height: 300px;
    background: #0400ff;
    float: left;
    margin-right: 20px;
    list-style: none;
}
li.ee{ margin-right: 0;}

.box{
    width: 1000px;
    height: 300px;
    border: 4px solid rgb(0, 0, 0);
    margin: 0 auto;
}
.box div{
    width: 235px;
    height: 300px;
    background: rgb(138, 140, 255);
    float: left;
    margin-right: 20px;
}
.box .rs{margin-right: 0;}