@charset "utf-8";
body{

}
*{margin: 0; padding: 0;}
.box{
    width: 1000px;
    height: 500px;
    border: 5pX solid #0002fd;
    margin: 0 auto;
}
.box div{
    width: 300px;
    height: 200px;
    border: solid 4px #000;
    float: left;
   margin: 20px 20px 0 0;
   border-radius: 16px ;
}

ul{
    width: 1000px;
    height: 500px;
    border: solid 5px #0002fd;
    margin: 20px auto 0;
}
li{list-style: none;}
ul li{
    width: 300px;
    height: 200px;
    border: 4px solid #000;
    float: left;
    margin: 20px 20px 0 0;
    border-radius: 16px;
}