@charset "utf-8";
body{

}
*{margin: 0;padding: 0;}
.box{
    width: 1470px;
    height: 200px;
    margin: 0 auto;
}
a{text-decoration: none;}
.box div{
    width: 490px;
    height: 200px;
    background: gold;
    float: left;
    box-sizing: border-box;
    
}
.box div a{
    display: block;
    padding: 36px;
    width: 100%;
    height: 100%;
}
.box .one{
    background: #907354;
    box-sizing: border-box;
    background: #907354 url(../imges/menu_icon_02.png) no-repeat 232px center;
}
.box .two{
    background: #434343;
        background: #434343 url(../imges/menu_icon_03.png) no-repeat 232px center;
}
.box .two:hover{
    background:  #434343 url(../imges/menu_icon_04.png) no-repeat 232px center;
}
.box .tr{
    background: rgb(173, 29, 29);
        background:  rgb(173, 29, 29) url(../imges/menu_icon_04.png) no-repeat 232px center;
}
.box .tr:hover{
    background:  rgb(173, 29, 29) url(../imges/menu_icon_02.png) no-repeat 232px center;
}
.box div h2,.one.two.tr,p{
    color: #fff;
}