@charset "utf-8";
body{ background: #819d4f;

}
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
ul{ 
    width: 1280px;
    /* border: solid 5PX red; */
    margin: 40px auto 0;
    overflow: hidden;
    
}
ul li{
    width: 400px;
    height: 272px;
    /* background: pink; */
    float: left;
    margin-right: 40px;
}
ul li a{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    overflow: hidden;
    
}
ul li a .imgbox{
    width: 100%;
    height: 227px;

}
ul li a .imgbox img{
    width: 100%;
    height: 100%;

}
ul li a .tit{
    width: 100%;
    height: 45px;
    background: #fff;
    text-align: center;
}
ul .rs{margin-right: 0;}
ul li a .tit h3{
    line-height: 45px;
    color: #222;
}
