@charset "utf-8";
body{
    font-family: "맑은 고딕","malgun gothic",sans-serif;
}
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
h2{
    text-align: center;

}
ul{
    width: 1200px;
    /* border: 3px solid red; */
    margin: 0 auto;
    overflow: hidden;
}
ul li{
    width: 285px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 20px;
    box-sizing: border-box;
}
ul li a{
    width: 100%;
    height: 100%;
    display: block;
}
ul li a .imgbox{
    width: 100%;
    height: 196px;

}
ul li a .imgbox img{
    width: 100%;
    height: 100%;
}
ul li a .info{
    box-sizing: border-box;
    padding: 23px 16px;
}
ul li a .info h3{
    font-size: 22px;
    color: #222;
    line-height: 29px;
    margin-bottom: 26px;
}
ul li a .info p{
    color: #555 ;
    font-size: 18px;

}
ul li a .info .price{
    margin-top: 19px;
    color: rgb(226, 15, 15);
    font-size: 22px;
    font-weight: 700;
}
ul .rs {margin-right: 0;}