@charset "utf-8";
body{
   
}
*{margin: 0;padding: 0;}
div{
    width: 800px;
    height: 600px;
    margin: 0 auto;
    text-align: justify;
    overflow: hidden;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: scroll;
    border: 5px solid red;
}