@charset "utf-8";
body{

}
*{margin: 0;padding: 0;}
div{
    width: 800px;
    height: 100px;
    border: 1px solid red;
    margin-bottom: 10px;
}
.b1{
    background: #00ff00;
}
.b2{
    background: rgb(0,255,0);
}
.b3{
    background: rgba(0, 255, 0, 0.2);
}
.b4{
    background: #ff00ff;
}
.b5{
    background: rgb(255,0,255,0.3);
}