@charset "utf-8";
body{
background: #99cd00;
}
*{margin: 0;padding: 0;}
.box{
    width: 520px;
    height: 270px;
    background: #fcf900;
    border: 10px solid #3c6940;
    margin: 90px auto 0;
    position: relative;
    overflow:hidden;
    overflow:auto
}
.box .red{
width: 200px;
height: 400px;
background: #ff6766;
position: absolute;
left: 50px;
top: 50px;
}
.box .green{
    width: 200px;
    height: 400px;
    background: #9afe66;
    position: absolute;
    left: 100px;
    top: 100px;
}
.box .blue{
    width: 200px;
    height: 400px;
    background: #0066cb;
    position: absolute;
    left: 150px;
    top: 150px;
}