@charset "utf-8";
body{

}
*{margin: 0;padding: 0;}
div{
    width: 1000px;
    height: 600px;
    border: solid 10px red;
    margin: 0 auto;
    background-image: url(../img/icon\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position:center center;
    background-position: right bottom;
    background-position: left bottom;
    background-position: 50% 50%;
    background-position: 80% 20%;
    background-position: 0 0 ;
    background-position: 100px 300px;
    
}
