@charset "utr-8";
body{

}
*{margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
button{border: none; background: none; cursor: pointer;}
/* 변수로 스타일 등록 */
:root{
    --blue: #1469fa;
    --white: #fff;
    --gray: #ededed;

    --padd:33px;
    --magin:30px;

    --text: 48px;

    --gap: 15px;

    --w:140px;
    --h:56px;

    --rad:999px;
}
.section{
    width: 100%;
    background: var(--gray);
    padding: var(--padd);
}
.section h2{
    font-size: var(--text);
    color: var(--blue);
    text-align: center;
}
.section ul{
    display: flex;
    justify-content: center;
    gap: var(--gap);
    margin-top: var(--magin);
}
.section ul li{
width: var(--w);
height: var(--h);
border: 2px solid var(--blue);
text-align: center;
line-height: var(--h);
background: var(--white);
}
.section ul li a{
    color: var(--blue);
}
.section button{
    display: block;
    width: var(--w);
    height: var(--h);
    background: var(--blue);
    color: var(--white);
    border-radius: var(--rad);
    margin: var(--magin) auto 0;
}