@charset "utf-8";
body{
    font-family: "맑은 고딕","malgun gothic",sans-serif;
}
*{margin: 0;padding: 0;}
button{border: none;}
li{list-style: none;}
a{text-decoration: none;}

.header{
    width: 100%;
    height: 45px;
    background: #333;
    display: flex;
    justify-content: space-between;
}
.header button img{
    width: 45px;
}
.header h1 a img{
    width: 90px;
}
.slick{
    width: 100%;
    height: 385px;
    position: relative;
}
.slick img{
    width: 100%;
    height: 100%;
    
}
.slick-prev{
    /* border: 2px solid red; */
    position: absolute;
     left: 24px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 16px;
    height: 30px;
    background: url(../imgs/imgi_48_btn_health_left.png);
    text-indent: -9999px;
    cursor: pointer;
}
.slick-next{
    /* border: 2px solid red; */
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 16px;
    height: 30px;
    background: url(../imgs/imgi_47_btn_health_right.png);
    text-indent: -9999px;
    cursor: pointer;
}
/*  */
ul.slick-dots{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    gap: 8px;
}
ul.slick-dots li button{
    width: 8px;
    height: 8px;
    background: #fff;
    text-indent: -9999px;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0.5;
}
ul.slick-dots li.slick-active button{
background: blue;
}