@charset "utf-8";
body{

}
*{margin: 0;padding: 0;}
li{list-style: none;}
.header{
    width: 1200px;
    height: 100px;
    background: aquamarine;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    width: 200px;
    height: 40px;
    background: antiquewhite;
}
.header .gnb{
    width: 600px;
    height: 40px;
    background: firebrick;
}
.Slide{
    width: 1200px;
    height: 300px;
    background: sandybrown;
    margin: 0 auto;
}
.contents{
    width: 1200px;
    height: 200px;
    background: antiquewhite;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contents .notice{
    width: 400px;
    height: 200px;
    background: slateblue;
}
.contents .banner{
    width: 400px;
    height: 200px;
    background: springgreen;
}
.contents .go{
    width: 400px;
    height: 200px;
    background: salmon;
}
.footer{
    width: 1200px;
    height: 100px;
    background: darkorchid;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}
.footer .logo{
    width: 200px;
    height: 100px;
    background: cornflowerblue;
}
.footer ul .menu{
    width: 1000px;
    height: 50px;
    background: bisque;
}
.footer ul .Copyright{
    width: 1000px;
    height: 50px;
    background: goldenrod;
}
