@charset "utf-8";
body{
    font-family: "맑은 고딕","malgun gothic",sans-serif;
}
*{margin: 0;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
button{border: none; background: none;}
.hader {
    width: 100%;
    height: 50px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    box-sizing: border-box;
}
.hader h1 a{
    color: #470F0F;
    font-weight: 900;
}
.vis{
    width: 100%;

}
.vis img{
    width: 100%;
    height: 100%;
}
ul{
    width: 100%;
    height: 50px;
    background: #ffffff;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
}
