@charset "utf-8";
body{
font-family: "Noto Sans KR", sans-serif;
}
*{margin: 0;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
button{border: none; background: none;}
.header{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #e1e1e1;
    
}
.header .inner{
    width: 1360px;
    height: 80px;
    margin: 0 auto;
    /* background: gold; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .inner h1 a{
    display: block;
    width: 278px;
    height: 20px;
    background: url(../img/logo.jpg) no-repeat;
    text-indent: -9999px;
}
.gnb{
    width: 1360px;
    height: 60px;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
    z-index: 10;
}
.gnb>li>a{
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.gnb>li:hover>a{
    display: block;
    width: 100%;
    height: 60px;
    color: #d1ac7f;
    line-height: 60px;
}
/* 2 */
.gnb>li>.depth2{
    width: 1360px;
    height: 43px;
    background: rgb(255, 255, 255,0.7);
    position: absolute;
    left: 0;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 63px;
    display: none;
}
.gnb>li:hover>.depth2{
    display: flex;
}
.gnb>li>.depth2 li a{
    color: #838383;
    font-size: 15px;
}
.gnb>li>.depth2 li:hover a{
    color: #333;
}

.visaul{
    width: 1360px;
    /* height: 610px; */
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
}
.visaul img{
    width: 100%;
    height: 100%;
}

ul.slick-dots{
  
    display: flex;
    justify-content: center;
    position: absolute;
    right: 30px;
    transform: translateX(-50%);
    bottom: 20px;
        gap: 8px;}
ul.slick-dots li button{
    width: 8px;
    height: 8px;
    background: #8a8a8a;
    text-indent: -9999px;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0.5;
}
ul.slick-dots li.slick-active button{
background: rgb(0, 0, 0);
}