@charset "utf-8";
body{

}
*{margin: 0;padding: 0;}
a{text-decoration: none}
li{list-style: none;}
button{border: none; background: none; cursor: pointer;}

.header{
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    background: #000;
}
.header button{
color: #fff;
font-size: 24px;
}
.header h1 a{
    display: block;
    width: 149px;
    height: 22px;
    background: url(../img/hv-logo.png) no-repeat;
    background-size: 149px 22px;
    text-indent: -9999px;
}
.gnb{
    width: 100%;
    height: 48px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
}
.gnb li a{
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}