@charset "utf-8";
body{

}
*{margin: 0;padding: 0;}
a{text-style:none}
li{list-style: none;}

.header{
    width: 100%;
    height: 63px;
    /* background: gold; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 16px;
    box-sizing: border-box;
}
.header h1 a{
    display: block;
    width: 103px;
    height: 17px;
    background: url(../img/Screenshot\ 2025-12-22\ at\ 12.28.30.JPG);
    text-indent: -9999px;
    
}
.header ul{
    display: flex;
    gap: 30px;
}
.header ul li a{
    color: #fff;
    font-size: 24px;
}
.visaul{
    width: 100%;
}
.visaul img{
    width: 100%;
    height: 100%;

}
