@charset "utf-8";
body{
background: #333;
}
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
h1{
color: #fff;
text-align: center;
font-size: 41px;
font-weight: 900;
margin: 60px auto 60px;
}
ul{
    width: 640px;
    /* background: gold; */
    margin: 0 auto;
    display: flex;
    gap: 20px;
}
ul li{
    width: 200px;
    height: 80px;
    border: #fff 1px solid;
    text-align: center;
    line-height: 80px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px #fff;
}
ul li a{
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,#858a83,#1a1a1a);
    color: #fff;
    
}
ul li:hover a{
    background-image: linear-gradient(to bottom,#fbbe41,#f24407);
}