@charset "utf-8";
body{
font-family: "맑은고딕","malgun gothic",sans-serif;
}
*{margin: 0;padding: 0;}
.box{
    width: 100%;
    height: 750px;
    background: gold;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: flex-end;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    
}
.box div{
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    text-align: center;
    line-height: 100px;
}
.box .red{
    background: red;
    flex-basis: 50%;
    order: 2;
    flex-shrink:2 ;
    
}
.box .orange{
    background: orange;
    flex-basis: 50%;
    order: 1;
}
.box .yellow{
    background: yellow;
    flex-basis: 30%;
}
.box .green{
    background: green;
}
.box .blue{
    background: blue;
}
.box .neavl{
    background: navy;
}
.box .purple{
    background: purple;
}
