@charset "utf-8";
body{
background: #fff;
color: #333;
}
*{margin: 0;padding: 0;}
.header{
    width: 1200px;
    height: 100px;
    background: aqua;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    width: 200px;
    height: 40px;
    background: rgb(186, 186, 255);
}
.header .gnb{
    width: 600px;
    height: 40px;
    background: burlywood;
}
.slide{
    width: 1200px;
    height: 300px;
    background: salmon;
    margin: 0 auto;
}
.contens{
    width: 1200px;
    height: 200px;
    background: chocolate;
    margin: 0 auto;
    display: flex;
}
.contens .notice{
    width: 400px;
    height: 200px;
    background: darkblue;
}
.contens .banner{
    width: 400px;
    height: 200px;
    background: darkcyan;
}
.contens .go{
    width: 400px;
    height: 200px;
    background: fuchsia;
}
.footer{
    width: 1200px;
    height: 100px;
    background: skyblue;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.footer .logo{
    width: 200px;
    height: 40px;
    background: aquamarine;
}
.footer .copy{
    width: 800px;
    height: 100px;
    background: orchid;
}
.footer .sns{
    width: 200px;
    height: 100px;
    background: greenyellow;
}