@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
font-family: "Noto Sans KR", sans-serif;
}
*{margin: 0;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
button{border: none; background: none;}
.header{
    width: 1100px;
    height: 66px;
    background: #ffffff;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
}
.header h1 a{
    display: block;
    width: 113px;
    height: 37px;
    background: url(../img/header_logo.jpg) no-repeat;
    text-indent: -9999px;
}
.header ul.gnb>li:hover>a{
    color: #3381c0;
    border-bottom: solid 2px #3381c0;
    /* text-decoration: underline; */
}
.header ul.gnb>li{
    position: relative;
    padding: 18px 0;
    /* background: gold; */
}
.header ul.gnb>li::before{
    content: '';
    width: 1px;
    height: 27px;
    background: #c8c8c8;
    position: absolute;
    left: -33px;
    top: 50%;
    transform: translateY(-50%);
    
}
.header ul.gnb>li:first-child::before{
    display: none;
}
.visual{
    width: 100%;
    height: 960px;
    background: url(../img/mainslide_img01.jpg) no-repeat center top;
}
.header ul.gnb>li>a{
    color: #626262;
font-size: 17px;
font-weight: 700;}
.header ul.gnb{
    display: flex;
    gap: 66px;
}
.header button{
    width: 32px;
    height: 21px;
    border: 2px solid #ddd;
    font-size: 11px;
    color: #9b9b9b;
    cursor: pointer;
}
.header .gnb>li>.depth2{
    width: 166px;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 62px;
    border: 1px solid #c8c8c8;
    border-top: none;
    text-align: center;
    display: none;
    z-index: 5;
    
}
.header .gnb>li>.depth2 li a{
    font-size: 14px;
    color: #555;
    padding: 0 10px;
}
.header .gnb>li>.depth2 li{
    line-height: 35px;
}
.header .gnb>li>.depth2 li:hover{
    background: #3381c0;
}
.header .gnb>li>.depth2 li:hover a{
    color: #ffffff;
    background: url(../img/kortek_icon_arrow2.png) no-repeat left center;
}
.header .gnb>li:hover>.depth2{
    display: block;
}